.App {
}

.App .bars {
  display: flex;
  overflow: hidden;
  transition: height 2s, background 2s;
  transition-timing-function: linear;
  height: 100px;
}

.App .bars .bar {
  transition: width 2s, background 2s;
  height: 100px;
  transition-timing-function: linear;
}

.App-header {
}
