.App {
  background-color: purple;
  z-index: 1;
  position: relative;
}

.App .text {
  position: absolute;
  padding-top: 50vh;
  padding-left: 40vw;
  font-size: 5em;
  color: white;
  z-index: -1;
  text-shadow: 7px 7px #00000050;
}

.App .bars {
  display: flex;
  overflow: hidden;
  transition: background 2s;
  transition-timing-function: linear;
  height: 100px;
}

.App .bars .bar {
  transition: width 2s, background 2s;
  height: 100px;
  transition-timing-function: linear;
}

.App-header {
}
